
body{
 
    background: rgb(232,249,229);
    background: linear-gradient(0deg, rgba(232,249,229,1) 0%, rgba(209,238,204,1) 35%, rgba(87,169,154,1) 90%, rgb(11, 75, 62) 100%);
    margin-bottom: 3em;
    background-repeat: no-repeat;
    height: 95vw;
}

h2 {
    font-size: 48pt;
    color: 
    #d7eaf7;
    font-family: 'Dokdo', cursive;
}

.center {
    text-align: center;
}

.faces {
    display: inline-block;
    width: 35%;
    height: 35%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right:1em;
   
}

.about{
    display: inline-block;
    width: 33%;
    background-color: 
    #b4c7d9;
    margin-left: 1em;
    margin-right:1em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 1%;
    vertical-align: top;
}

#topscores{
    height: 50em;
    margin-top: 1vw;
    padding-top: 2vw;
    border-top: black solid 1vw;
}

#logo {
    width: 40vw;
    height: 12vw;
}

#leaderboard{
    width: 30vw;
    height: 5vw;
    text-align: center;
}

header{
    text-align: center;
}

#abouttitle{
    width: 30vw;
    height: 5vw;
}

#logo:hover {
    transform: scale(1.05);
}

.leaderPTag-score {
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    font-size: 3vw;
    text-emphasis: bold;
    width: 14%;
    text-align: right;
    margin-bottom: 1vw;
    /* margin-left: 2%; */
}

.leaderPTag-name {
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    font-size: 3vw;
    text-emphasis: bold;
    width: 15%;
    margin-left: 4%;
    margin-bottom: 1vw;
    margin-right: 20%;

}
.ranking {
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    font-size: 3vw;
    text-emphasis: bold;
    margin-left: 30.5%;
}
#ID10 {
    margin-left: 27.5%;
}