/* <link href="https://fonts.googleapis.com/css?family=Dokdo&display=swap" rel="stylesheet"> */

/* footer{
font-family: 'Dokdo', cursive;
} */
body{
    background: rgb(232,249,229);
    background: linear-gradient(0deg, rgba(232,249,229,1) 0%, rgba(209,238,204,1) 35%, rgba(87,169,154,1) 100%);
}
h2 {
    font-size: 24pt;
    color: white;
}
div{
    text-align: center;
}
.faces {
    display: inline-block;
    width: 35%;
    height: 35%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right:1em;
}
p {
    text-align: center;
}
.about{
    display: inline-block;
    width: 35%;
    background-color: white;
    margin-left: 1em;
    margin-right:1em;
}
#topscores{
    margin-top: 2em;
}
#logo {
    width: 50vw;
    height: 15vw;
}
header{
    text-align: center;
}
