.background {
    background-image: url('https://raw.githubusercontent.com/kochsj/Team-Sasquatch/master/images/background.png');
    /* width: 1024px;
    height: 576px; */
    background-size: cover;
    width: 100%;
    height: 100%;
  }
#mapCanvas {
    width: 70vw;
    height: 45vw;
    margin-left: auto;
    margin-right: auto;
}
  #bigfoot {
    transition: transform 0.3s linear;
    transform: initial;
    position: absolute;
    height: 7vw;
  }
  
  #hiker {
    transition: transform 0.3s linear;
    transform: initial;
    height: 7vw;
    position: absolute;
  }
.ptag-options:hover{
    color:white;
}
#scoreboard-ID{
    width: 70vw;
    margin:0vw;
}
.scoreboard {
    display: inline-block;
    width: 34vw;
    border: black solid 0.5vw;
}
#card-popup, #firstCard {
    width: 30vw;
    border: black solid 0.5vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5vw;
    left: 35vw;
}
/* 
html, body {
    background-image: url(../images/background.jpg);
    
    background-size: cover;
    width: 100%;
    height: 120%;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 63, 1);
    border-color: rgb(1, 77, 1);
}

fieldset {
    display: block;
    background-color: rgba(52, 53, 52, 0);
    margin-left: 9in;
    margin-right: 12in;
    font-size: 22pt;

}

input {
    display: block;
    font-size: 20pt;

}

button {
    display: block;
    font-size: 20pt;
    margin-left: 1in ;
}




a:nth-child(1) {
    
    margin-left: 0%;
    color: rgb(5, 3, 3);
    font-size: 44pt;
    font-family: 'Rock Salt', cursive;
}
a:nth-child(2) {
    margin-left: 60%;
    color: rgb(0, 0, 0);
    font-size: 44pt;
    font-family: 'Rock Salt', cursive;

}

h1 {
    margin-left: 35%;
    font-family: 'Rock Salt', cursive;
    font-size: 40pt;
    color: rgb(9, 17, 9);
}

.rain{

    position: absolute;
    top:0;
    height:145%;
    width: 100%;
    background-image: url(../images/rain.png);
    
    animation: animate .3s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 25% 100%
    }
}

img{
    width: 75%;
    height: 75%;
}

fieldset {
    display: block;
    background-color: rgb(4, 83, 8);
left: 10in;
top: 2in;
/* position: absolute; */
/* font-size: 22pt;
}

input {
    display: block;
    font-size: 20pt;

}

button {
    display: block;
    font-size: 20pt;
    margin-left: 1in ;
}

body {
    background-color: rgb(1, 63, 1);
    border-color: rgb(1, 77, 1);
}

a:nth-child(1) {
    
    margin-left: 0%;
    color: white;
    font-size: 40pt;
    font-family: 'Rock Salt', cursive;
}
a:nth-child(2) {
    margin-left: 66%;
    color: white;
    font-size: 40pt;
    font-family: 'Rock Salt', cursive;

}

h1 {
    margin-left: 35%;
    font-family: 'Rock Salt', cursive;
    font-size: 40pt;
    color: rgb(199, 233, 199);


} */